.team_wrapper {
  background: black;
}
.team_container {
  padding: 9rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.team_container h1 {
  font-weight: 800;
  text-transform: uppercase;
  color: white;
}
.team_container h1 strong {
  color: red;
}
.team_box {
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 17px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.team_box_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 1rem;
  place-items: center;
}
.team_box img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
@media screen and (max-width: 500px) {
  .team_box_wrapper {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }
  .team_box p {
    font-size: 0.8rem;
  }
}
